.box {
  width: 500px; height: 650px;
  border: 10px solid #ccc;
  text-align: center;
}
.item-img {
  max-width: 80%;
}
.main {
  display: flex;
  justify-content: center;
}
.win {
  border: 10px solid chartreuse;
}
.lose {
  border: 10px solid gray;
}
.tie {
  border: 10px solid orange;
}
.para {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}